.category-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.category-buttons .btn-secondary {
  margin-right: 10px;
}

.dropdown-toggle {
  color: #0b0c0c !important;
  background-color: #e9eaec !important;
  border: none !important;
  border-radius: 1rem !important;
}

.dropdown-menu {
  background-color: #333;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #555;
}

.sort-by-dropdown {
  display: flex;
}

.sort-by-dropdown h2 {
  margin-right: 1rem;
}

.category-buttons h2 {
  margin-right: 1rem;
}

.category-title {
  font-size: 1.8rem;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .category-section {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .category-section {
    overflow-x: scroll;
  }

  .category-section h2 {
    margin-right: 5px !important;
    width: 100%;
    font-size: 1rem !important;
  }
}
